---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="zh">
	<head>
		<BaseHead title="现在" description="我现在在做什么" />
		<style>
			main {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: 0 auto;
				padding: 2em 1em;
			}
			h1 {
				margin-bottom: 1em;
			}
			p {
				line-height: 1.6;
				margin-bottom: 1em;
				color: rgb(var(--gray-dark));
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>现在</h1>
			<p>
				这是一个"现在"页面，用来记录我当前正在做的事情、关注的话题和生活的状态。
			</p>
			<p>
				博客搭建，继续写作，提高视力(endmyopia), 减脂，和保持继续学习的能力。
			</p>

		</main>
		<Footer />
	</body>
</html>

